nodered-flows/00flows_minerva-1001.json
[{"type":"tab","id":"fb9d5015.0462b","label":"Sheet 1"},{"id":"16cae447.e9351c","type":"mqtt-broker","z":"fb9d5015.0462b","broker":"api.servioticy.com","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"4c05be4b.b3fa4","type":"mqtt in","z":"fb9d5015.0462b","name":"Photocell subscription","topic":"NDU0NDg1NzktNzkwZS00NGI3LTkyNWQtMDQwMWQ1ODEyM2M3ZGU0N2RlMzEtY2Y1Yy00NDI0LWIxN2QtNGQ1MzRkNzIwMTlm/1447110652884525a5183983a4a6492621de2e755313b/streams/status/updates","broker":"16cae447.e9351c","x":170,"y":102,"wires":[["2def600a.d210a"]]},{"id":"e6bbd88.f194428","type":"mqtt in","z":"fb9d5015.0462b","name":"Receive AC actuations","topic":"14471106617563de992c13dd842b6b6dcdcfe391dbb01/actions","broker":"16cae447.e9351c","x":176,"y":785,"wires":[["88e4a820.771b58"]]},{"id":"88e4a820.771b58","type":"debug","z":"fb9d5015.0462b","name":"","active":true,"console":"false","complete":"false","x":447,"y":787,"wires":[]},{"id":"2def600a.d210a","type":"debug","z":"fb9d5015.0462b","name":"","active":true,"console":"false","complete":"false","x":422,"y":101,"wires":[]},{"id":"3c5b62f1.c3a49e","type":"mqtt in","z":"fb9d5015.0462b","name":"Humiditysensor subscription","topic":"NDU0NDg1NzktNzkwZS00NGI3LTkyNWQtMDQwMWQ1ODEyM2M3ZGU0N2RlMzEtY2Y1Yy00NDI0LWIxN2QtNGQ1MzRkNzIwMTlm/144711065505107a07c2fb79047bab13770f0c7aa24ec/streams/status/updates","broker":"16cae447.e9351c","x":181,"y":178,"wires":[["ddbd5b06.2242a8"]]},{"id":"ddbd5b06.2242a8","type":"debug","z":"fb9d5015.0462b","name":"","active":true,"console":"false","complete":"false","x":427,"y":177,"wires":[]},{"id":"5d0ed46.fa2f12c","type":"function","z":"fb9d5015.0462b","name":"transform","func":"ret = {\n    'status': msg.payload.channels.temperature[\"current-value\"] > 30\n}\nmsg.headers =  {\n        \"Content-type\" : \"text/plain\",\n        \"Authorization\": \"NDU0NDg1NzktNzkwZS00NGI3LTkyNWQtMDQwMWQ1ODEyM2M3ZGU0N2RlMzEtY2Y1Yy00NDI0LWIxN2QtNGQ1MzRkNzIwMTlm\"\n    }\nmsg.payload = ret\nreturn msg;","outputs":1,"noerr":0,"x":168,"y":491,"wires":[["d634c04a.29cb4","fbd88f29.04277"]]},{"id":"9c61e50e.639e18","type":"mqtt in","z":"fb9d5015.0462b","name":"Receive blind actuations","topic":"1447110659553dc8aa70990ea47e7b36b1fe0abc1b917/actions","broker":"16cae447.e9351c","x":175,"y":698,"wires":[["b9475896.46b8a8"]]},{"id":"b9475896.46b8a8","type":"debug","z":"fb9d5015.0462b","name":"","active":true,"console":"false","complete":"false","x":440,"y":698,"wires":[]},{"id":"318736bc.ce78ca","type":"mqtt in","z":"fb9d5015.0462b","name":"Tempsensor subscription","topic":"NDU0NDg1NzktNzkwZS00NGI3LTkyNWQtMDQwMWQ1ODEyM2M3ZGU0N2RlMzEtY2Y1Yy00NDI0LWIxN2QtNGQ1MzRkNzIwMTlm/1447110657197a15197b14a074151ab7e058ac6b0d561/streams/status/updates","broker":"16cae447.e9351c","x":177,"y":257,"wires":[["64fb6515.9b049c","137a647d.ec859c"]]},{"id":"64fb6515.9b049c","type":"debug","z":"fb9d5015.0462b","name":"","active":true,"console":"false","complete":"false","x":421,"y":256,"wires":[]},{"id":"137a647d.ec859c","type":"json","z":"fb9d5015.0462b","name":"","x":166,"y":389,"wires":[["5d0ed46.fa2f12c"]]},{"id":"d634c04a.29cb4","type":"http request","z":"fb9d5015.0462b","name":"Send blind actuation","method":"POST","ret":"txt","url":"http://api.servioticy.com/1447110659553dc8aa70990ea47e7b36b1fe0abc1b917/actuations/blindstatus","x":443,"y":413,"wires":[["47b3b709.b84c48"]]},{"id":"47b3b709.b84c48","type":"debug","z":"fb9d5015.0462b","name":"","active":true,"console":"false","complete":"false","x":653,"y":409,"wires":[]},{"id":"fbd88f29.04277","type":"http request","z":"fb9d5015.0462b","name":"Send AC actuation","method":"POST","ret":"txt","url":"http://api.servioticy.com/14471106617563de992c13dd842b6b6dcdcfe391dbb01/actuations/aaccstatus","x":448,"y":528,"wires":[["5a892f11.a576d"]]},{"id":"5a892f11.a576d","type":"debug","z":"fb9d5015.0462b","name":"","active":true,"console":"false","complete":"false","x":658,"y":524,"wires":[]}]