nodered-flows/02flows_minerva-1001.json
[{"type":"tab","id":"f8c4d302.073b3","label":"Sheet 1"},{"id":"bc3fcd1b.43c03","type":"mqtt-broker","z":"f8c4d302.073b3","broker":"api.servioticy.com","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"6182c71a.9e7d38","type":"mqtt in","z":"f8c4d302.073b3","name":"Photocell subscription","topic":"OWJhMmI3Y2MtY2U5NC00MjUyLWI4YTgtNzE3ZjMyNzk4YmM2MWZlNWI5ZDctODEzNC00YTdjLWFhNDItM2U2M2MzN2NiYTk3/1447110652656a0d1ba0efaaf46ddbe6cc0bdaf1dfea6/streams/status/updates","broker":"bc3fcd1b.43c03","x":170,"y":102,"wires":[["d0544dcf.2fabb"]]},{"id":"a5a6bd5d.5a594","type":"mqtt in","z":"f8c4d302.073b3","name":"Receive AC actuations","topic":"14471106615449d68665e64754d87927dc59d67440ec0/actions","broker":"bc3fcd1b.43c03","x":176,"y":785,"wires":[["ac276b75.53d898"]]},{"id":"ac276b75.53d898","type":"debug","z":"f8c4d302.073b3","name":"","active":false,"console":"false","complete":"false","x":447,"y":787,"wires":[]},{"id":"d0544dcf.2fabb","type":"debug","z":"f8c4d302.073b3","name":"","active":true,"console":"false","complete":"false","x":422,"y":101,"wires":[]},{"id":"ab749685.548b68","type":"mqtt in","z":"f8c4d302.073b3","name":"Humiditysensor subscription","topic":"OWJhMmI3Y2MtY2U5NC00MjUyLWI4YTgtNzE3ZjMyNzk4YmM2MWZlNWI5ZDctODEzNC00YTdjLWFhNDItM2U2M2MzN2NiYTk3/1447110654823cea73d96c2994b86864116ad8b2082ca/streams/status/updates","broker":"bc3fcd1b.43c03","x":181,"y":178,"wires":[["9d28b871.62d748"]]},{"id":"9d28b871.62d748","type":"debug","z":"f8c4d302.073b3","name":"","active":true,"console":"false","complete":"false","x":427,"y":177,"wires":[]},{"id":"a65b8b41.59a478","type":"function","z":"f8c4d302.073b3","name":"transform","func":"ret = {\n    'status': msg.payload.channels.temperature[\"current-value\"] > 30\n}\nmsg.headers =  {\n        \"Content-type\" : \"text/plain\",\n        \"Authorization\": \"OWJhMmI3Y2MtY2U5NC00MjUyLWI4YTgtNzE3ZjMyNzk4YmM2MWZlNWI5ZDctODEzNC00YTdjLWFhNDItM2U2M2MzN2NiYTk3\"\n    }\nmsg.payload = ret\nreturn msg;","outputs":1,"noerr":0,"x":168,"y":491,"wires":[["70addf72.8f522","6483b8c8.9b7c48"]]},{"id":"885615b4.77a9e8","type":"mqtt in","z":"f8c4d302.073b3","name":"Receive blind actuations","topic":"1447110659329601a63fe7bc442d280b2fff7466755c2/actions","broker":"bc3fcd1b.43c03","x":175,"y":698,"wires":[["46b87562.b9478c"]]},{"id":"46b87562.b9478c","type":"debug","z":"f8c4d302.073b3","name":"","active":true,"console":"false","complete":"false","x":438,"y":703,"wires":[]},{"id":"d8925170.276db","type":"mqtt in","z":"f8c4d302.073b3","name":"Tempsensor subscription","topic":"OWJhMmI3Y2MtY2U5NC00MjUyLWI4YTgtNzE3ZjMyNzk4YmM2MWZlNWI5ZDctODEzNC00YTdjLWFhNDItM2U2M2MzN2NiYTk3/1447110656970b2d64a19294841b7b94f38e6270f32cb/streams/status/updates","broker":"bc3fcd1b.43c03","x":177,"y":257,"wires":[["e30a927.f1cf57","74357eef.8bca8"]]},{"id":"e30a927.f1cf57","type":"debug","z":"f8c4d302.073b3","name":"","active":true,"console":"false","complete":"false","x":421,"y":256,"wires":[]},{"id":"74357eef.8bca8","type":"json","z":"f8c4d302.073b3","name":"","x":166,"y":389,"wires":[["a65b8b41.59a478"]]},{"id":"70addf72.8f522","type":"http request","z":"f8c4d302.073b3","name":"Send blind actuation","method":"POST","ret":"txt","url":"http://api.servioticy.com/1447110659329601a63fe7bc442d280b2fff7466755c2/actuations/blindstatus","x":443,"y":413,"wires":[["d84e0d5c.27b1f"]]},{"id":"d84e0d5c.27b1f","type":"debug","z":"f8c4d302.073b3","name":"","active":true,"console":"false","complete":"false","x":653,"y":409,"wires":[]},{"id":"6483b8c8.9b7c48","type":"http request","z":"f8c4d302.073b3","name":"Send AC actuation","method":"POST","ret":"txt","url":"http://api.servioticy.com/14471106615449d68665e64754d87927dc59d67440ec0/actuations/aaccstatus","x":448,"y":528,"wires":[["3dcc5191.c233ae"]]},{"id":"3dcc5191.c233ae","type":"debug","z":"f8c4d302.073b3","name":"","active":true,"console":"false","complete":"false","x":658,"y":524,"wires":[]}]