nodered-flows/04flows_minerva-1001.json
[{"type":"tab","id":"dbd887af.242778","label":"Sheet 1"},{"id":"bc5f87fa.43a078","type":"mqtt-broker","z":"dbd887af.242778","broker":"api.servioticy.com","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"274db214.d8b24e","type":"mqtt in","z":"dbd887af.242778","name":"Photocell subscription","topic":"ZWVkM2YyNmUtOTYzMy00Mjk0LWI4MjItYjkwMDU0OGI3NDc0MzdlYTJmMmYtY2RlNi00NjA0LTliMWUtODRjOTA0ZTgxYTc1/14471106539817288e3b3b7714721ac443625ae434e36/streams/status/updates","broker":"bc5f87fa.43a078","x":170,"y":102,"wires":[["8c6bc61c.739438"]]},{"id":"24e996e8.db166a","type":"mqtt in","z":"dbd887af.242778","name":"Receive AC actuations","topic":"14471106628534d252d12476743ce82a3b152fb8203f1/actions","broker":"bc5f87fa.43a078","x":176,"y":785,"wires":[["9ceec99c.631138"]]},{"id":"9ceec99c.631138","type":"debug","z":"dbd887af.242778","name":"","active":false,"console":"false","complete":"false","x":447,"y":787,"wires":[]},{"id":"8c6bc61c.739438","type":"debug","z":"dbd887af.242778","name":"","active":true,"console":"false","complete":"false","x":422,"y":101,"wires":[]},{"id":"c3267336.3cd99","type":"mqtt in","z":"dbd887af.242778","name":"Humiditysensor subscription","topic":"ZWVkM2YyNmUtOTYzMy00Mjk0LWI4MjItYjkwMDU0OGI3NDc0MzdlYTJmMmYtY2RlNi00NjA0LTliMWUtODRjOTA0ZTgxYTc1/14471106561143819b2c003444cd4a9e276c28f7d7f17/streams/status/updates","broker":"bc5f87fa.43a078","x":181,"y":178,"wires":[["64f510e7.9b0af"]]},{"id":"64f510e7.9b0af","type":"debug","z":"dbd887af.242778","name":"","active":true,"console":"false","complete":"false","x":427,"y":177,"wires":[]},{"id":"94f61fbd.6b09e","type":"function","z":"dbd887af.242778","name":"transform","func":"ret = {\n    'status': msg.payload.channels.temperature[\"current-value\"] > 30\n}\nmsg.headers =  {\n        \"Content-type\" : \"text/plain\",\n        \"Authorization\": \"ZWVkM2YyNmUtOTYzMy00Mjk0LWI4MjItYjkwMDU0OGI3NDc0MzdlYTJmMmYtY2RlNi00NjA0LTliMWUtODRjOTA0ZTgxYTc1\"\n    }\nmsg.payload = ret\nreturn msg;","outputs":1,"noerr":0,"x":168,"y":491,"wires":[["26e00db.fd91ff2","81e3c839.7e1c38"]]},{"id":"617a5e0e.9e85a","type":"mqtt in","z":"dbd887af.242778","name":"Receive blind actuations","topic":"1447110660658c303d4dcfb68482abd42ba523984511c/actions","broker":"bc5f87fa.43a078","x":175,"y":698,"wires":[["676785a5.98987c"]]},{"id":"676785a5.98987c","type":"debug","z":"dbd887af.242778","name":"","active":true,"console":"false","complete":"false","x":438,"y":703,"wires":[]},{"id":"b313d5bb.4cec28","type":"mqtt in","z":"dbd887af.242778","name":"Tempsensor subscription","topic":"ZWVkM2YyNmUtOTYzMy00Mjk0LWI4MjItYjkwMDU0OGI3NDc0MzdlYTJmMmYtY2RlNi00NjA0LTliMWUtODRjOTA0ZTgxYTc1/14471106584684d7455c0288a4ed98279d45b67e5cbf2/streams/status/updates","broker":"bc5f87fa.43a078","x":177,"y":257,"wires":[["409c2516.bf63dc","9c4c0e97.63b3f"]]},{"id":"409c2516.bf63dc","type":"debug","z":"dbd887af.242778","name":"","active":true,"console":"false","complete":"false","x":421,"y":256,"wires":[]},{"id":"9c4c0e97.63b3f","type":"json","z":"dbd887af.242778","name":"","x":166,"y":389,"wires":[["94f61fbd.6b09e"]]},{"id":"26e00db.fd91ff2","type":"http request","z":"dbd887af.242778","name":"Send blind actuation","method":"POST","ret":"txt","url":"http://api.servioticy.com/1447110660658c303d4dcfb68482abd42ba523984511c/actuations/blindstatus","x":443,"y":413,"wires":[["4a44920e.b5bb6c"]]},{"id":"4a44920e.b5bb6c","type":"debug","z":"dbd887af.242778","name":"","active":true,"console":"false","complete":"false","x":653,"y":409,"wires":[]},{"id":"81e3c839.7e1c38","type":"http request","z":"dbd887af.242778","name":"Send AC actuation","method":"POST","ret":"txt","url":"http://api.servioticy.com/14471106628534d252d12476743ce82a3b152fb8203f1/actuations/aaccstatus","x":448,"y":528,"wires":[["f5f881c4.0a078"]]},{"id":"f5f881c4.0a078","type":"debug","z":"dbd887af.242778","name":"","active":true,"console":"false","complete":"false","x":658,"y":524,"wires":[]}]