nodered-flows/05flows_minerva-1001.json
[{"type":"tab","id":"aa856620.557a98","label":"Sheet 1"},{"id":"bf995a74.4066a8","type":"mqtt-broker","z":"aa856620.557a98","broker":"api.servioticy.com","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"58a79330.a7586c","type":"mqtt in","z":"aa856620.557a98","name":"Photocell subscription","topic":"YWU3OTA1YzAtNTZiOC00MTMwLTk0ZTItNmY0NTNmMjE4NWNhY2M4NDZhMjEtMDFmMC00NDJjLTgwN2QtZWFkMTRiNDRkY2Vl/1447110653759d470f1fba47b4424b7cb13e1a2aeaff8/streams/status/updates","broker":"bf995a74.4066a8","x":170,"y":102,"wires":[["10384f27.efc7b1"]]},{"id":"f67891b6.09877","type":"mqtt in","z":"aa856620.557a98","name":"Receive AC actuations","topic":"1447110662648f5c74f93599a4a8587e59b2aef993614/actions","broker":"bf995a74.4066a8","x":176,"y":785,"wires":[["cff376ad.300c88"]]},{"id":"cff376ad.300c88","type":"debug","z":"aa856620.557a98","name":"","active":true,"console":"false","complete":"false","x":447,"y":787,"wires":[]},{"id":"10384f27.efc7b1","type":"debug","z":"aa856620.557a98","name":"","active":true,"console":"false","complete":"false","x":422,"y":101,"wires":[]},{"id":"8146a9f1.7eb958","type":"mqtt in","z":"aa856620.557a98","name":"Humiditysensor subscription","topic":"YWU3OTA1YzAtNTZiOC00MTMwLTk0ZTItNmY0NTNmMjE4NWNhY2M4NDZhMjEtMDFmMC00NDJjLTgwN2QtZWFkMTRiNDRkY2Vl/1447110655909b07aa5fe98484fb3b59df4986dc7dd0e/streams/status/updates","broker":"bf995a74.4066a8","x":181,"y":178,"wires":[["b48a707f.4b759"]]},{"id":"b48a707f.4b759","type":"debug","z":"aa856620.557a98","name":"","active":true,"console":"false","complete":"false","x":427,"y":177,"wires":[]},{"id":"72dcf3f4.8d230c","type":"function","z":"aa856620.557a98","name":"transform","func":"ret = {\n    'status': msg.payload.channels.temperature[\"current-value\"] > 30\n}\nmsg.headers =  {\n        \"Content-type\" : \"text/plain\",\n        \"Authorization\": \"YWU3OTA1YzAtNTZiOC00MTMwLTk0ZTItNmY0NTNmMjE4NWNhY2M4NDZhMjEtMDFmMC00NDJjLTgwN2QtZWFkMTRiNDRkY2Vl\"\n    }\nmsg.payload = ret\nreturn msg;","outputs":1,"noerr":0,"x":168,"y":491,"wires":[["ea5b87b3.15a478","f44b4f26.0bb4b"]]},{"id":"b4338e89.4bcc7","type":"mqtt in","z":"aa856620.557a98","name":"Receive blind actuations","topic":"1447110660453629172ddc3f943bdba9b4bdb51542ad2/actions","broker":"bf995a74.4066a8","x":175,"y":698,"wires":[["7f830fce.807cf"]]},{"id":"7f830fce.807cf","type":"debug","z":"aa856620.557a98","name":"","active":true,"console":"false","complete":"false","x":438,"y":703,"wires":[]},{"id":"cdddabe6.322258","type":"mqtt in","z":"aa856620.557a98","name":"Tempsensor subscription","topic":"YWU3OTA1YzAtNTZiOC00MTMwLTk0ZTItNmY0NTNmMjE4NWNhY2M4NDZhMjEtMDFmMC00NDJjLTgwN2QtZWFkMTRiNDRkY2Vl/1447110658261e9acf041077d41deb98b86ab9934ecd0/streams/status/updates","broker":"bf995a74.4066a8","x":177,"y":257,"wires":[["60aea40.f9f515c","8cef7537.731088"]]},{"id":"60aea40.f9f515c","type":"debug","z":"aa856620.557a98","name":"","active":true,"console":"false","complete":"false","x":421,"y":256,"wires":[]},{"id":"8cef7537.731088","type":"json","z":"aa856620.557a98","name":"","x":166,"y":389,"wires":[["72dcf3f4.8d230c"]]},{"id":"ea5b87b3.15a478","type":"http request","z":"aa856620.557a98","name":"Send blind actuation","method":"POST","ret":"txt","url":"http://api.servioticy.com/1447110660453629172ddc3f943bdba9b4bdb51542ad2/actuations/blindstatus","x":443,"y":413,"wires":[["bbdf9a8a.442068"]]},{"id":"bbdf9a8a.442068","type":"debug","z":"aa856620.557a98","name":"","active":true,"console":"false","complete":"false","x":653,"y":409,"wires":[]},{"id":"f44b4f26.0bb4b","type":"http request","z":"aa856620.557a98","name":"Send AC actuation","method":"POST","ret":"txt","url":"http://api.servioticy.com/1447110662648f5c74f93599a4a8587e59b2aef993614/actuations/aaccstatus","x":448,"y":528,"wires":[["ade92dc3.5216d"]]},{"id":"ade92dc3.5216d","type":"debug","z":"aa856620.557a98","name":"","active":true,"console":"false","complete":"false","x":658,"y":524,"wires":[]}]