nodered-flows/06flows_minerva-1001.json
[{"type":"tab","id":"e6df579a.1920a8","label":"Sheet 1"},{"id":"63bed291.9c412c","type":"mqtt-broker","z":"e6df579a.1920a8","broker":"api.servioticy.com","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"f281ee3.f0d7e1","type":"mqtt in","z":"e6df579a.1920a8","name":"Photocell subscription","topic":"Mzc5NjI5OWEtNWU3OC00ZDRjLWFkODUtMDIxNWIyN2E2ZTc2MzQ5NDBlODItYjdmNS00MjU3LTk3MWEtYjdkOTUxM2VjNDNm/1447110652447360c1319f31c4af49bf32bbd4f65f108/streams/status/updates","broker":"63bed291.9c412c","x":170,"y":102,"wires":[["4d7bccc4.b28434"]]},{"id":"8ea1d1e3.715e3","type":"mqtt in","z":"e6df579a.1920a8","name":"Receive AC actuations","topic":"1447110661318901b9fc47a1e42cdb36a66fd93b940f9/actions","broker":"63bed291.9c412c","x":176,"y":785,"wires":[["5359d787.aca628"]]},{"id":"5359d787.aca628","type":"debug","z":"e6df579a.1920a8","name":"","active":false,"console":"false","complete":"false","x":447,"y":787,"wires":[]},{"id":"4d7bccc4.b28434","type":"debug","z":"e6df579a.1920a8","name":"","active":true,"console":"false","complete":"false","x":422,"y":101,"wires":[]},{"id":"3c8b5f8.fc374a","type":"mqtt in","z":"e6df579a.1920a8","name":"Humiditysensor subscription","topic":"Mzc5NjI5OWEtNWU3OC00ZDRjLWFkODUtMDIxNWIyN2E2ZTc2MzQ5NDBlODItYjdmNS00MjU3LTk3MWEtYjdkOTUxM2VjNDNm/1447110654621841151f63341406e805a90fc755b217b/streams/status/updates","broker":"63bed291.9c412c","x":181,"y":178,"wires":[["6541963a.9abe68"]]},{"id":"6541963a.9abe68","type":"debug","z":"e6df579a.1920a8","name":"","active":false,"console":"false","complete":"false","x":427,"y":177,"wires":[]},{"id":"48f8a470.b7075c","type":"function","z":"e6df579a.1920a8","name":"transform","func":"ret = {\n    'status': msg.payload.channels.temperature[\"current-value\"] > 30\n}\nmsg.headers =  {\n        \"Content-type\" : \"text/plain\",\n        \"Authorization\": \"Mzc5NjI5OWEtNWU3OC00ZDRjLWFkODUtMDIxNWIyN2E2ZTc2MzQ5NDBlODItYjdmNS00MjU3LTk3MWEtYjdkOTUxM2VjNDNm\"\n    }\nmsg.payload = ret\nreturn msg;","outputs":1,"noerr":0,"x":168,"y":491,"wires":[["5b79489e.a486b8","814a5e4.f7eb5a"]]},{"id":"466bc6ae.b99438","type":"mqtt in","z":"e6df579a.1920a8","name":"Receive blind actuations","topic":"1447110659107e47d73c7e6fb41d0acc74ac2509ee7eb/actions","broker":"63bed291.9c412c","x":175,"y":698,"wires":[["980dba20.67f248"]]},{"id":"980dba20.67f248","type":"debug","z":"e6df579a.1920a8","name":"","active":true,"console":"false","complete":"false","x":438,"y":703,"wires":[]},{"id":"f6f5c733.090a38","type":"mqtt in","z":"e6df579a.1920a8","name":"Tempsensor subscription","topic":"Mzc5NjI5OWEtNWU3OC00ZDRjLWFkODUtMDIxNWIyN2E2ZTc2MzQ5NDBlODItYjdmNS00MjU3LTk3MWEtYjdkOTUxM2VjNDNm/1447110656765c91f59e48b9147cb956c067720a1f514/streams/status/updates","broker":"63bed291.9c412c","x":177,"y":257,"wires":[["451acce9.bae534","111d8bef.eee274"]]},{"id":"451acce9.bae534","type":"debug","z":"e6df579a.1920a8","name":"","active":false,"console":"false","complete":"false","x":421,"y":256,"wires":[]},{"id":"111d8bef.eee274","type":"json","z":"e6df579a.1920a8","name":"","x":166,"y":389,"wires":[["48f8a470.b7075c"]]},{"id":"5b79489e.a486b8","type":"http request","z":"e6df579a.1920a8","name":"Send blind actuation","method":"POST","ret":"txt","url":"http://api.servioticy.com/1447110659107e47d73c7e6fb41d0acc74ac2509ee7eb/actuations/blindstatus","x":443,"y":413,"wires":[["68b3f7be.974c08"]]},{"id":"68b3f7be.974c08","type":"debug","z":"e6df579a.1920a8","name":"","active":false,"console":"false","complete":"false","x":653,"y":409,"wires":[]},{"id":"814a5e4.f7eb5a","type":"http request","z":"e6df579a.1920a8","name":"Send AC actuation","method":"POST","ret":"txt","url":"http://api.servioticy.com/1447110661318901b9fc47a1e42cdb36a66fd93b940f9/actuations/aaccstatus","x":448,"y":528,"wires":[["d66d644.f299298"]]},{"id":"d66d644.f299298","type":"debug","z":"e6df579a.1920a8","name":"","active":false,"console":"false","complete":"false","x":658,"y":524,"wires":[]}]