nodered-flows/07flows_minerva-1001.json
[{"type":"tab","id":"bb98691c.446798","label":"Sheet 1"},{"id":"52c1eedc.ad3e1","type":"mqtt-broker","z":"bb98691c.446798","broker":"api.servioticy.com","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"888af386.77751","type":"mqtt in","z":"bb98691c.446798","name":"Photocell subscription","topic":"NDA4NTUzZTgtOWRlNS00YTBmLThiOWItZjAxMjE0MGZkMGM5NTUxM2IyMzctNzMwYy00OTEyLTg4MjctMTcxNTg2ODNjODE5/144711065222466a31ad67fa24332872207d42081ba98/streams/status/updates","broker":"52c1eedc.ad3e1","x":170,"y":102,"wires":[["92cefe11.6d31"]]},{"id":"7e10c8b3.81ef38","type":"mqtt in","z":"bb98691c.446798","name":"Receive AC actuations","topic":"14471106611120b3b76cc2a2c4928831330873e782b8b/actions","broker":"52c1eedc.ad3e1","x":176,"y":785,"wires":[["b0708aca.4f8f78"]]},{"id":"b0708aca.4f8f78","type":"debug","z":"bb98691c.446798","name":"","active":false,"console":"false","complete":"false","x":447,"y":787,"wires":[]},{"id":"92cefe11.6d31","type":"debug","z":"bb98691c.446798","name":"","active":true,"console":"false","complete":"false","x":422,"y":101,"wires":[]},{"id":"990e1343.66f1f","type":"mqtt in","z":"bb98691c.446798","name":"Humiditysensor subscription","topic":"NDA4NTUzZTgtOWRlNS00YTBmLThiOWItZjAxMjE0MGZkMGM5NTUxM2IyMzctNzMwYy00OTEyLTg4MjctMTcxNTg2ODNjODE5/144711065439760911f0f8269429a9a76ed6ce7ac5c5b/streams/status/updates","broker":"52c1eedc.ad3e1","x":181,"y":178,"wires":[["c06725cd.3f98d8"]]},{"id":"c06725cd.3f98d8","type":"debug","z":"bb98691c.446798","name":"","active":true,"console":"false","complete":"false","x":427,"y":177,"wires":[]},{"id":"5ddbf3.ffa2240c","type":"function","z":"bb98691c.446798","name":"transform","func":"ret = {\n    'status': msg.payload.channels.temperature[\"current-value\"] > 30\n}\nmsg.headers =  {\n        \"Content-type\" : \"text/plain\",\n        \"Authorization\": \"NDA4NTUzZTgtOWRlNS00YTBmLThiOWItZjAxMjE0MGZkMGM5NTUxM2IyMzctNzMwYy00OTEyLTg4MjctMTcxNTg2ODNjODE5\"\n    }\nmsg.payload = ret\nreturn msg;","outputs":1,"noerr":0,"x":168,"y":491,"wires":[["aed3a374.512c6","6e2a524e.91d5ac"]]},{"id":"cae5fbfd.351a08","type":"mqtt in","z":"bb98691c.446798","name":"Receive blind actuations","topic":"1447110658899f62131466184423e909f6a4e5f9d7303/actions","broker":"52c1eedc.ad3e1","x":175,"y":698,"wires":[["cc7f26d7.3380d8"]]},{"id":"cc7f26d7.3380d8","type":"debug","z":"bb98691c.446798","name":"","active":true,"console":"false","complete":"false","x":438,"y":703,"wires":[]},{"id":"d0636c55.2f9c9","type":"mqtt in","z":"bb98691c.446798","name":"Tempsensor subscription","topic":"NDA4NTUzZTgtOWRlNS00YTBmLThiOWItZjAxMjE0MGZkMGM5NTUxM2IyMzctNzMwYy00OTEyLTg4MjctMTcxNTg2ODNjODE5/144711065655823ad49182e404b339d70feaccf331256/streams/status/updates","broker":"52c1eedc.ad3e1","x":177,"y":257,"wires":[["d4cc54c6.2b33a8","70fc6252.8f039c"]]},{"id":"d4cc54c6.2b33a8","type":"debug","z":"bb98691c.446798","name":"","active":true,"console":"false","complete":"false","x":421,"y":256,"wires":[]},{"id":"70fc6252.8f039c","type":"json","z":"bb98691c.446798","name":"","x":166,"y":389,"wires":[["5ddbf3.ffa2240c"]]},{"id":"aed3a374.512c6","type":"http request","z":"bb98691c.446798","name":"Send blind actuation","method":"POST","ret":"txt","url":"http://api.servioticy.com/1447110658899f62131466184423e909f6a4e5f9d7303/actuations/blindstatus","x":443,"y":413,"wires":[["efbf820a.10408"]]},{"id":"efbf820a.10408","type":"debug","z":"bb98691c.446798","name":"","active":true,"console":"false","complete":"false","x":653,"y":409,"wires":[]},{"id":"6e2a524e.91d5ac","type":"http request","z":"bb98691c.446798","name":"Send AC actuation","method":"POST","ret":"txt","url":"http://api.servioticy.com/14471106611120b3b76cc2a2c4928831330873e782b8b/actuations/aaccstatus","x":448,"y":528,"wires":[["1401eb59.ebfe15"]]},{"id":"1401eb59.ebfe15","type":"debug","z":"bb98691c.446798","name":"","active":true,"console":"false","complete":"false","x":658,"y":524,"wires":[]}]