nodered-flows/08flows_minerva-1001.json
[{"type":"tab","id":"b13a0e2b.4ec5f","label":"Sheet 1"},{"id":"8634088.f79cbf8","type":"mqtt-broker","z":"b13a0e2b.4ec5f","broker":"api.servioticy.com","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"dd4cffc6.22b3","type":"mqtt in","z":"b13a0e2b.4ec5f","name":"Photocell subscription","topic":"MTIwNTMzMmItNjIzNy00MWI5LWIyN2EtNDA3NjA3YjM1NmFhOTY2NjkzM2EtZDFhMS00ZWI3LTg4NGYtMzdiZjkzOGJmMDJj/1447110653533bee8f15b24504e49a1f021f093a604af/streams/status/updates","broker":"8634088.f79cbf8","x":170,"y":102,"wires":[["47ead528.b8152c"]]},{"id":"e0f66c9c.1f099","type":"mqtt in","z":"b13a0e2b.4ec5f","name":"Receive AC actuations","topic":"144711066241645369b12b2ad40d5b302ef5168ee7034/actions","broker":"8634088.f79cbf8","x":176,"y":785,"wires":[["2a95dc44.d56a24"]]},{"id":"2a95dc44.d56a24","type":"debug","z":"b13a0e2b.4ec5f","name":"","active":false,"console":"false","complete":"false","x":447,"y":787,"wires":[]},{"id":"47ead528.b8152c","type":"debug","z":"b13a0e2b.4ec5f","name":"","active":true,"console":"false","complete":"false","x":422,"y":101,"wires":[]},{"id":"ee4369a8.11bc98","type":"mqtt in","z":"b13a0e2b.4ec5f","name":"Humiditysensor subscription","topic":"MTIwNTMzMmItNjIzNy00MWI5LWIyN2EtNDA3NjA3YjM1NmFhOTY2NjkzM2EtZDFhMS00ZWI3LTg4NGYtMzdiZjkzOGJmMDJj/14471106557052c1101b4f8cd46f9acadcc5a222c2973/streams/status/updates","broker":"8634088.f79cbf8","x":181,"y":178,"wires":[["c6924e26.396db"]]},{"id":"c6924e26.396db","type":"debug","z":"b13a0e2b.4ec5f","name":"","active":true,"console":"false","complete":"false","x":427,"y":177,"wires":[]},{"id":"8048a930.7fb758","type":"function","z":"b13a0e2b.4ec5f","name":"transform","func":"ret = {\n    'status': msg.payload.channels.temperature[\"current-value\"] > 30\n}\nmsg.headers =  {\n        \"Content-type\" : \"text/plain\",\n        \"Authorization\": \"MTIwNTMzMmItNjIzNy00MWI5LWIyN2EtNDA3NjA3YjM1NmFhOTY2NjkzM2EtZDFhMS00ZWI3LTg4NGYtMzdiZjkzOGJmMDJj\"\n    }\nmsg.payload = ret\nreturn msg;","outputs":1,"noerr":0,"x":168,"y":491,"wires":[["48ddd662.b72228","57afd7d9.a85028"]]},{"id":"59190c5.fa6e6f4","type":"mqtt in","z":"b13a0e2b.4ec5f","name":"Receive blind actuations","topic":"1447110660229bba9b790dc52481897ea85d141fbfd76/actions","broker":"8634088.f79cbf8","x":175,"y":698,"wires":[["2d99903d.d2667"]]},{"id":"2d99903d.d2667","type":"debug","z":"b13a0e2b.4ec5f","name":"","active":true,"console":"false","complete":"false","x":438,"y":703,"wires":[]},{"id":"6f46caaf.90b934","type":"mqtt in","z":"b13a0e2b.4ec5f","name":"Tempsensor subscription","topic":"MTIwNTMzMmItNjIzNy00MWI5LWIyN2EtNDA3NjA3YjM1NmFhOTY2NjkzM2EtZDFhMS00ZWI3LTg4NGYtMzdiZjkzOGJmMDJj/14471106578591e18f2730fb64486971f131482144495/streams/status/updates","broker":"8634088.f79cbf8","x":177,"y":257,"wires":[["9fe324.ff601ce","dcefdc19.23102"]]},{"id":"9fe324.ff601ce","type":"debug","z":"b13a0e2b.4ec5f","name":"","active":true,"console":"false","complete":"false","x":421,"y":256,"wires":[]},{"id":"dcefdc19.23102","type":"json","z":"b13a0e2b.4ec5f","name":"","x":166,"y":389,"wires":[["8048a930.7fb758"]]},{"id":"48ddd662.b72228","type":"http request","z":"b13a0e2b.4ec5f","name":"Send blind actuation","method":"POST","ret":"txt","url":"http://api.servioticy.com/1447110660229bba9b790dc52481897ea85d141fbfd76/actuations/blindstatus","x":443,"y":413,"wires":[["f9be8a5a.064178"]]},{"id":"f9be8a5a.064178","type":"debug","z":"b13a0e2b.4ec5f","name":"","active":true,"console":"false","complete":"false","x":653,"y":409,"wires":[]},{"id":"57afd7d9.a85028","type":"http request","z":"b13a0e2b.4ec5f","name":"Send AC actuation","method":"POST","ret":"txt","url":"http://api.servioticy.com/144711066241645369b12b2ad40d5b302ef5168ee7034/actuations/aaccstatus","x":448,"y":528,"wires":[["cbe7e60c.341818"]]},{"id":"cbe7e60c.341818","type":"debug","z":"b13a0e2b.4ec5f","name":"","active":true,"console":"false","complete":"false","x":658,"y":524,"wires":[]}]