nodered-flows/09flows_minerva-1001.json
[{"type":"tab","id":"78474c60.87b8b4","label":"Sheet 1"},{"id":"1a1195e5.e5ee6a","type":"mqtt-broker","z":"78474c60.87b8b4","broker":"api.servioticy.com","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"fa657602.059a88","type":"mqtt in","z":"78474c60.87b8b4","name":"Photocell subscription","topic":"MTZiZDM5ODYtMzYxZS00ZDE2LTllMGItMzI0YTFhZjk5MWQ0MTQ2OGIyNzMtYWE3Zi00ZTkzLTljMjktM2ZlY2M5NGI4NDIz/14471106530950e252fcf3c7b4e3d8d188202666d36b7/streams/status/updates","broker":"1a1195e5.e5ee6a","x":170,"y":102,"wires":[["19b70a99.e648f5"]]},{"id":"3c91db60.c36e24","type":"mqtt in","z":"78474c60.87b8b4","name":"Receive AC actuations","topic":"1447110661963fd5b7f8622eb41bb9f1c88a4e8c69962/actions","broker":"1a1195e5.e5ee6a","x":176,"y":785,"wires":[["f1313cf1.0ecec"]]},{"id":"f1313cf1.0ecec","type":"debug","z":"78474c60.87b8b4","name":"","active":false,"console":"false","complete":"false","x":447,"y":787,"wires":[]},{"id":"19b70a99.e648f5","type":"debug","z":"78474c60.87b8b4","name":"","active":true,"console":"false","complete":"false","x":422,"y":101,"wires":[]},{"id":"58fd8b22.a70274","type":"mqtt in","z":"78474c60.87b8b4","name":"Humiditysensor subscription","topic":"MTZiZDM5ODYtMzYxZS00ZDE2LTllMGItMzI0YTFhZjk5MWQ0MTQ2OGIyNzMtYWE3Zi00ZTkzLTljMjktM2ZlY2M5NGI4NDIz/1447110655275155f35b9ba1646af8ebd35ba2a1c5af1/streams/status/updates","broker":"1a1195e5.e5ee6a","x":181,"y":178,"wires":[["71c936ec.8e36c8"]]},{"id":"71c936ec.8e36c8","type":"debug","z":"78474c60.87b8b4","name":"","active":true,"console":"false","complete":"false","x":427,"y":177,"wires":[]},{"id":"f2d99548.0d2668","type":"function","z":"78474c60.87b8b4","name":"transform","func":"ret = {\n    'status': msg.payload.channels.temperature[\"current-value\"] > 30\n}\nmsg.headers =  {\n        \"Content-type\" : \"text/plain\",\n        \"Authorization\": \"MTZiZDM5ODYtMzYxZS00ZDE2LTllMGItMzI0YTFhZjk5MWQ0MTQ2OGIyNzMtYWE3Zi00ZTkzLTljMjktM2ZlY2M5NGI4NDIz\"\n    }\nmsg.payload = ret\nreturn msg;","outputs":1,"noerr":0,"x":168,"y":491,"wires":[["4ac71f.ffb538e","a758805d.58a78"]]},{"id":"ce8bd983.317428","type":"mqtt in","z":"78474c60.87b8b4","name":"Receive blind actuations","topic":"1447110659781ccefd8a1f1e5414e83de1145a0594e75/actions","broker":"1a1195e5.e5ee6a","x":175,"y":698,"wires":[["4893af0.fb76c5"]]},{"id":"4893af0.fb76c5","type":"debug","z":"78474c60.87b8b4","name":"","active":true,"console":"false","complete":"false","x":438,"y":703,"wires":[]},{"id":"a1b1a723.5e4e58","type":"mqtt in","z":"78474c60.87b8b4","name":"Tempsensor subscription","topic":"MTZiZDM5ODYtMzYxZS00ZDE2LTllMGItMzI0YTFhZjk5MWQ0MTQ2OGIyNzMtYWE3Zi00ZTkzLTljMjktM2ZlY2M5NGI4NDIz/14471106574042acacff724814e56b0f833838fd8b426/streams/status/updates","broker":"1a1195e5.e5ee6a","x":177,"y":257,"wires":[["e14d5e9a.1eb2a","991cb72.f66e348"]]},{"id":"e14d5e9a.1eb2a","type":"debug","z":"78474c60.87b8b4","name":"","active":true,"console":"false","complete":"false","x":421,"y":256,"wires":[]},{"id":"991cb72.f66e348","type":"json","z":"78474c60.87b8b4","name":"","x":166,"y":389,"wires":[["f2d99548.0d2668"]]},{"id":"4ac71f.ffb538e","type":"http request","z":"78474c60.87b8b4","name":"Send blind actuation","method":"POST","ret":"txt","url":"http://api.servioticy.com/1447110659781ccefd8a1f1e5414e83de1145a0594e75/actuations/blindstatus","x":443,"y":413,"wires":[["5e6e8e7a.a1917"]]},{"id":"5e6e8e7a.a1917","type":"debug","z":"78474c60.87b8b4","name":"","active":true,"console":"false","complete":"false","x":653,"y":409,"wires":[]},{"id":"a758805d.58a78","type":"http request","z":"78474c60.87b8b4","name":"Send AC actuation","method":"POST","ret":"txt","url":"http://api.servioticy.com/1447110661963fd5b7f8622eb41bb9f1c88a4e8c69962/actuations/aaccstatus","x":448,"y":528,"wires":[["11ca4684.ee35b9"]]},{"id":"11ca4684.ee35b9","type":"debug","z":"78474c60.87b8b4","name":"","active":true,"console":"false","complete":"false","x":658,"y":524,"wires":[]}]