nodered-flows/flows_minerva-1001.json
[{"type":"tab","id":"e1025b37.1efda8","label":"Sheet 1"},{"id":"d536661e.2ac998","type":"mqtt-broker","z":"e1025b37.1efda8","broker":"api.servioticy.com","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"5d2a626e.a2d59c","type":"mqtt in","z":"e1025b37.1efda8","name":"Photocell subscription","topic":"<API_KEY>/<SO_ID>/streams/status/updates","broker":"d536661e.2ac998","x":170,"y":102,"wires":[["ac811d08.537ee"]]},{"id":"c1f37292.3e0c9","type":"mqtt in","z":"e1025b37.1efda8","name":"Receive AC actuations","topic":"<SO_ID>/actions","broker":"d536661e.2ac998","x":176,"y":785,"wires":[["36106b7a.c9ef94"]]},{"id":"36106b7a.c9ef94","type":"debug","z":"e1025b37.1efda8","name":"","active":false,"console":"false","complete":"false","x":447,"y":787,"wires":[]},{"id":"ac811d08.537ee","type":"debug","z":"e1025b37.1efda8","name":"","active":true,"console":"false","complete":"false","x":422,"y":101,"wires":[]},{"id":"91b94adf.6e46b8","type":"mqtt in","z":"e1025b37.1efda8","name":"Humiditysensor subscription","topic":"<API_KEY>/<SO_ID>/streams/status/updates","broker":"d536661e.2ac998","x":181,"y":178,"wires":[["427f93ff.bd806c"]]},{"id":"427f93ff.bd806c","type":"debug","z":"e1025b37.1efda8","name":"","active":true,"console":"false","complete":"false","x":427,"y":177,"wires":[]},{"id":"5f4ffc29.a0b004","type":"function","z":"e1025b37.1efda8","name":"transform","func":"ret = {\n    'status': msg.payload.channels.temperature[\"current-value\"] > 30\n}\nmsg.headers =  {\n        \"Content-type\" : \"text/plain\",\n        \"Authorization\": \"<API_TOKEN>\"\n    }\nmsg.payload = ret\nreturn msg;","outputs":1,"noerr":0,"x":168,"y":491,"wires":[["6f26ba71.90d944","a88df641.577208"]]},{"id":"b247f4c3.4db808","type":"mqtt in","z":"e1025b37.1efda8","name":"Receive blind actuations","topic":"<SO_ID>/actions","broker":"d536661e.2ac998","x":175,"y":698,"wires":[["1ebaa239.e1455e"]]},{"id":"1ebaa239.e1455e","type":"debug","z":"e1025b37.1efda8","name":"","active":true,"console":"false","complete":"false","x":438,"y":703,"wires":[]},{"id":"cdc99da0.32366","type":"mqtt in","z":"e1025b37.1efda8","name":"Tempsensor subscription","topic":"<API_KEY>/<SO_ID>/streams/status/updates","broker":"d536661e.2ac998","x":177,"y":257,"wires":[["95db0753.6a24f8","7eb709f6.8148f8"]]},{"id":"95db0753.6a24f8","type":"debug","z":"e1025b37.1efda8","name":"","active":true,"console":"false","complete":"false","x":421,"y":256,"wires":[]},{"id":"7eb709f6.8148f8","type":"json","z":"e1025b37.1efda8","name":"","x":166,"y":389,"wires":[["5f4ffc29.a0b004"]]},{"id":"6f26ba71.90d944","type":"http request","z":"e1025b37.1efda8","name":"Send blind actuation","method":"POST","ret":"txt","url":"http://api.servioticy.com/<SO_ID>/actuations/blindstatus","x":443,"y":413,"wires":[["f4e46683.0b1b98"]]},{"id":"f4e46683.0b1b98","type":"debug","z":"e1025b37.1efda8","name":"","active":true,"console":"false","complete":"false","x":653,"y":409,"wires":[]},{"id":"a88df641.577208","type":"http request","z":"e1025b37.1efda8","name":"Send AC actuation","method":"POST","ret":"txt","url":"http://api.servioticy.com/<SO_ID>/actuations/aaccstatus","x":448,"y":528,"wires":[["3df5ca7c.c20a36"]]},{"id":"3df5ca7c.c20a36","type":"debug","z":"e1025b37.1efda8","name":"","active":true,"console":"false","complete":"false","x":658,"y":524,"wires":[]}]